::-webkit-scrollbar {
    display: none;
}

.container-post {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: 10px 0 10px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    font-size: 1.375em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.3125em;
}

.recipe-instruct h3 {
    font-size: 1.125em;
    font-weight: 600;
    margin-top: 0.625em;
}

.recipe-instruct p {
    font-size: 1em;
    margin-bottom: 0.625em;
    text-align: justify;
    padding: 1.125em;
}

.recipe-img img {
    max-width: 50%;
    display: block;
    margin: 0 auto 2.5em;
    border-radius: 0.625em;
    border: 1px solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.4375em 1.375em 0;
}

.recipe-video {
    text-align: center;
    /* margin-top: 0.625em; */
    margin-top: auto;
}

.recipe-video a {
    padding: 0.625em 1.25em;
    background-color: #ff5722;
    border: none;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.625em;
    transition: all 0.3s ease;
}

.recipe-video a:hover {
    background-color: #e64a19;
}

.recipe-video button.delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0.525em 1.25em;
    background-color: #dc3545;
    border: none;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.625em;
    transition: all 0.3s ease;
    margin-bottom: 3px;
}

@media screen and (max-width: 540px) {
    .container-post {
        width: 88.66%;
    }
}

@media screen and (min-width: 541px) {
    .container-post {
        width: 91.66%;
    }
}

@media screen and (min-width: 991px) {
    .container-post {
        width: 93.66%;
    }
}