:root {
    font-size: 16px;
}

body {
    margin: 1.25em;
    background-color: #d3d3d3;
}

.main {
    padding: 0.9375em;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    background-color: #008080;
    overflow: hidden;
}

.topbar a {
    float: right;
    color: #f5f5f5;
    text-align: center;
    padding: 1.25em 1.625em;
    text-decoration: none;
    font-size: 1.25em;
}

.sidebar {
    position: relative;
    background-color: #333;
    color: #fff;
    height: 100%;
    margin-top: 0.625em;
}

.sidebar a {
    margin-top: 0.625em;
    display: block;
    color: #fff;
    font-size: 0.9375em;
    text-decoration: none;
    padding: 0.3125em;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #f5f5f5;
    margin-top: 0.625em;
}

.dashbroad-btn,
.dashbroad-btn:visited {
    border-radius: 0.3125em;
}

.dashbroad-btn a:hover {
    background-color: white;
    color: black;
}
